.SiteLayout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "layoutHeader"
                          "layoutMain"
                          "layoutFooter";
    min-height: 100vh;
    background: url('./../images/background.svg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    // @include from(m){
    //     $mCircleZise: 260px;
    //     background: radial-gradient(var(--snColor1) 65%, transparent 65%) top #{($mCircleZise / 2)*-1} right #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat,
    //                 radial-gradient(var(--snColor1) 65%, transparent 65%) bottom #{($mCircleZise / 2)*-1} left #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat;
    //                 // radial-gradient(var(--snColor1Lighter4) 65%, transparent 65%) top top /250px 250px no-repeat;
    // }

    // @include from(l){
    //     $mCircleZise: 300px;
    //     background: radial-gradient(var(--snColor1) 65%, transparent 65%) top #{($mCircleZise / 2)*-1} right #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat,
    //                 radial-gradient(var(--snColor1) 65%, transparent 65%) bottom #{($mCircleZise / 2)*-1} left #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat;
    //                 // radial-gradient(var(--snColor1Lighter4) 65%, transparent 65%) top top /250px 250px no-repeat;
    // }
    // @include from(lg){
    //     $mCircleZise: 320px;
    //     background: radial-gradient(var(--snColor1) 65%, transparent 65%) top #{($mCircleZise / 2)*-1} right #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat,
    //                 radial-gradient(var(--snColor1) 65%, transparent 65%) bottom #{($mCircleZise / 2)*-1} left #{($mCircleZise / 2)*-1} /#{$mCircleZise} #{$mCircleZise} no-repeat;
    // }

    &-header {
        // grid-area: layoutHeader;
        // @include to(l){
        //     display: none;
        // }
    }
    &-footer{
        margin-top: auto;
        text-align: center;
        font-size: .8rem;
        color: var(--snColorTextAlt);
        grid-area: layoutFooter;
        padding: 1rem;
    }
    &-main{
        padding: 4rem 0 3rem;
        grid-area: layoutMain;
    }
}

.MainContainer{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.Branding{
    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-logo{
        height: $siteHeaderHeight / 2;
        margin-right: 8px;
    }
    &-name{
        color: var(--snColor1);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        a:hover{
            color: var(--snColor1);
        }
    }
}

.SiteHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $siteHeaderHeight;
    line-height: $siteHeaderHeight;
    &-right{
        display: flex;
        height: $siteHeaderHeight;
        @include to(l){
            flex-direction: row-reverse;
        }
    }
}