.SiteLayout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "layoutHeader"
                          "layoutMain"
                          "layoutFooter";
    // @include from(l){
    //     grid-template-columns: 420px 1fr;
    //     grid-template-areas: "layoutHeader layoutMain"
    //                             "layoutHeader layoutFooter";
    // }
    &-header {
        // grid-area: layoutHeader;
        // @include to(l){
        //     display: none;
        // }
    }
    &-footer{
        margin-top: auto;
        text-align: center;
        font-size: .8rem;
        color: var(--snColorTextAlt);
        grid-area: layoutFooter;
    }
    &-main{
        padding: 4rem 0 3rem;
        grid-area: layoutMain;
    }
}

.MainContainer{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.Branding{
    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-logo{
        height: $siteHeaderHeight / 2;
        margin-right: 8px;
    }
    &-name{
        color: var(--snColor1);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        a:hover{
            color: var(--snColor1);
        }
    }
}

.SiteHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $siteHeaderHeight;
    line-height: $siteHeaderHeight;
}