:root{
    --snColorBg: #FAFAFA;
    --snColorBgAlt: #FFFFFF;
    
    --snColor1Lighter4: #E6F6FF;
    --snColor1Lighter3: #A3DCFF;
    --snColor1Lighter2: #7AC8FF;
    --snColor1Lighter: #51AFFC;
    --snColor1Light: #268EF0;
    --snColor1: #0170E3;
    --snColor1Dark: #0055BD;
    --snColor1Darker: #003F96;
    --snColor1Darker2: #002B70;
    --snColor1Darker3: #001A4A;
    --snColor1Inverse: #FFFFFF;
  
    // --snColor2Lighter: #FFBABB;
    // --snColor2Light: #FF9197;
    // --snColor2: #F1636F;
    // --snColor2Dark: #CC4959;
    // --snColor2Darker: #A63345;
    // --snColor2Inverse: #FFFFFF;
  }