@import "../node_modules/sedna/bin/sedna";
@import "_postConfig";

// Base
@include SnBase();
@import "_base";

// Components
@include SnMenu(s, ".UserMenu");
@include SnBtn();
@include SnAlert();
@include SnCard();
@include SnForm();
@include SnControl();
@include SnAvatar();
@include SnGrid();
@include SnLoading();
@include SnMargin();
@include SnModal();
@include SnMessage();
@include SnPagination();
@include SnTable();
@include SnSwitch();
// @include SnTooltip();
@include SnTab();
@include SnTag();
@include SnContainer();
@include SnCollapse();
//@include SnDivider();
@include SnFreeze();
@include SnEmpty();
@include SnPadding();

@include SnList();

@import 'layout/Layout.scss';
@import 'layout/AsideMenu.scss';
@import 'layout/Header.scss';
@import 'layout/HeaderMenu.scss';
@import 'global/UserMenu.scss';
@import 'layout/SnToolbar.scss';

@import 'global/SnList.scss';
@import 'global/Result';
@import 'global/SnDropdown.scss';
@import 'global/SnUpload.scss';
@import 'global/SnControlGroup.scss';
@import 'global/SnBadge.scss';
@import 'global/SnEmpty.scss';
@import 'admin/DashCard';
@import 'admin/InfiniteScroll.scss';

.SnCard{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    border: 0;
    border-radius: 4px;
}

.SnModal{
    &-close{
        @include from(l){
            background: var(--snColorBgAlt);
            top: -12px;
            right: -12px;
            width: 38px;
            height: 38px;
            opacity: 1;
            border-radius: 50%;
            box-shadow: 0 8px 24px 0 rgba(40,50,66,.24);
        }
    }
    &-header{
        text-align: center;
        font-size: 1.2rem;
        box-shadow: none;
    }
}

@include SnControlGroup('.ss-main .ss-single-selected');