.Header{
    display: flex;
    justify-content: space-between;
    height: $headerHeight;
    // background: var(--snColorBgAlt);
    // border-bottom: 1px solid var(--snColorBorder);
    // @include from(l){
    //     border-radius: 18px 0 0 0;
    // }
}

#AsideMenu-toggle{
    padding: 0 16px;
    cursor: pointer;
    &:hover{
        background: var(--snColorHover);
    }
    @include from(l){
        display: none;
    }
}
